<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>react demo</title>
        <link rel="dns-prefetch" href="//img.pengt.com">
        <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
        <meta content="telephone=no" name="format-detection" />
        <meta content="email=no" name="format-detection" />
        <meta http-equiv="Cache-Control" content="no-cache">
    </head>
    <body>
    	<div id="app">
    		
    	</div>
    </body>
</html>